@font-face {
	font-family: 'OpenSans';
	src: url('OpenSans-Regular.ttf');
}

* { 
	font-family: 'OpenSans'!important; 
}

body { 
	zoom: .85;
	width: 500px;
	height: 300px;
	background-color: #EBFAFF;
}

.navbar-inner {
	text-align: center; 
	border-radius: 0; 
	vertical-align: middle;
	letter-spacing: 2px;
}

strong { 
	display: block; 
	border-bottom: solid 1px #eee; 
	padding-bottom: 5px; 
	margin-bottom: 5px; 
}

section {
	margin: 10px;
}

label {
	display: inline-block;
	width: 130px;
	vertical-align: super;
}

#table-container { 
	height: 210px;
	overflow-y: auto;
	border: solid 1px #ddd;
	border-top: none;
}

table {
	border-collapse: collapse;
	margin-bottom: 0!important;
}

th {
	background-color: #eee;
	border: solid 1px #ddd;
	border-bottom: none;
}

tfoot td {
	border: solid 1px #ddd;
	border-top: none!important;
}

input[type="text"] {
	width: 75px;
}

.hidden {
	display: none;
}